<main>
  <form (ngSubmit)="subscribe()">
    <h3 class="text-center">Signin !</h3>
    <hr />
    <div class="form-group">
      <label for="name">Your name:</label>
      <input
        type="text"
        class="form-control"
        name="name"
        [(ngModel)]="user.name"
      />
    </div>
    <div class="form-group">
      <label for="email">Your email:</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="user.email"
      />
    </div>
    <div class="form-group">
      <label for="password">Your password:</label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="user.passwrd"
      />
    </div>
    <div class="form-group">
      <label for="password2">Confirm your password:</label>
      <input
        type="password"
        class="form-control"
        name="passord2"
        [(ngModel)]="user.password2"
      />
    </div>
    <div>
      <button class="btn btn-primary">Signin</button>
    </div>
    <div
      [ngClass]="{
       'alert':true,
        'alert-success':response.status==200,
    }"
    >
      {{ response.message }}
    </div>
    <br />
    <div class="text-center alreadyAccount">
      <a routerLink="/login"> You have an account ?</a>
    </div>
  </form>
</main>
